# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.FPS Shooter Blockada 4d Man of War(MVVM).iml
# Editor-based HTTP Client requests
/httpRequests/
