# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.FPS Shooter Blockada 4d Man of War(MVP).iml
# Editor-based HTTP Client requests
/httpRequests/
